.ItemCard {
    width: 150px;
    padding: 30px;
    margin: 30px;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #000000;
    border-radius: 10px;
}

.ItemImagen {
    width: 100px;
    height: 100px;
    object-fit: contain;
    object-position: center;

}