.NavBar {
  display: flex;
  background: transparent;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background: rgb(58, 39, 143);
}

.Categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Option {
  /* color: #8C30F5; */
  text-decoration: none;
  border-radius: 25;
  margin: 0 50px;
  /* TODO */
  width: auto;
  padding: 12px;
  font-size: 10px;
  background: #f57f30;
  border-radius: 8px;
  flex: none;
  display: flex;
  order: 1;
  align-self: center;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
  border: none;
  border-style: none;
  cursor: pointer;
  outline: inherit;
}

.ActiveOption {
  /* color: #8C30F5; */
  text-decoration: none;
  border-radius: 25;
  margin: 0 50px;
  /* TODO */
  width: auto;
  padding: 12px;
  font-size: 10px;
  background: rgb(218, 3, 171);
  border-radius: 8px;
  flex: none;
  display: flex;
  order: 1;
  align-self: center;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #020202;
  border: none;
  border-style: none;
  cursor: pointer;
  outline: inherit;
}

.NavLink {
  color :rgb(255, 0, 0)
}

img {
  max-width: 100%;
  max-height: 100%;
 }
 .Imagen {
  height: 50px;
  width: 50px;
 }

 .Titulo {
  color: aliceblue;
 }
   
   